@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "kanban";
@import 'variables';
@import 'bootstrap/bootstrap';
@import "_partials/sidebar";
@import "_partials/normalize";
@import "_partials/modal";

* {
    outline: none !important;
}

html, body {
    height: 100%;
}

#content {
    padding-top: 20px;
}

.card-header, .card-footer {
    background-color: transparent !important;
}

.card {
    padding: 0 !important;
}

//body {
//    overscroll-behavior-x: none;
//}

.fas {
    color: #bebdc2;
}

body {
    font-family: 'Roboto', sans-serif;
}

#app {
    width: 100%;
    height: 100%;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.avatar img {
    border-radius: 50%;
    position: relative;
    left: -5px;
    margin-left: -15px;
    z-index: 1;
    border: 2px solid #f5f6f8;
    width: 35px;
    height: 35px;
}

.avatars {
    direction: ltr;
    text-align: left;
    padding-left: 15px;
}

.card {
    background: #fff !important;
    //padding: 15px !important;
    margin-bottom: 20px !important;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) !important;
    border-radius: 5px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1) !important;
    border: 0 !important;
}

.hover-primary:hover * {
    color: $blue !important;
}

.hover-brand:hover * {
    color: #f19123 !important;
}

.hover-danger:hover * {
    color: $red !important;
}

@media only screen and (max-width: 768px) {
    .w-md-100 {
        width: 100%;
    }
}
