.kanban-container {
    position: relative;
    box-sizing: border-box;
    width: auto;
}

.kanban-container * {
    box-sizing: border-box
}

.kanban-container:after {
    clear: both;
    display: block;
    content: ""
}

.kanban-board {
    position: relative;
    float: left;
    transition: all .3s cubic-bezier(.23, 1, .32, 1)
}

.kanban-board.disabled-board {
    opacity: .3
}

.kanban-board.is-moving.gu-mirror {
    transform: rotate(3deg);
}

.kanban-item.is-moving.gu-mirror {
    transform: rotate(3deg);
    height: auto !important;
    cursor: grabbing;
}

.gu-transit {
    opacity: .2 !important;
    //color: #e9eaee !important;
    //background: #e9eaee !important;
    transform: rotate(0) !important
}

.kanban-board.is-moving.gu-mirror .kanban-drag {
    overflow: hidden;
    padding-right: 50px
}

.kanban-board header {
    font-size: 16px;
    padding: 15px 0 15px 0;
    color: #47464d;
}

.kanban-board header .kanban-title-board {
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: inline
}

.kanban-board header .kanban-title-button {
    float: right
}

.kanban-board .kanban-drag {
    min-height: 145px;
    //padding: 20px
}

.kanban-board:after {
    clear: both;
    display: block;
    content: ""
}

.kanban-item {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    transition: all .3s cubic-bezier(.23, 1, .32, 1);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.kanban-item:hover {
    cursor: pointer
}

.kanban-item:active {
    cursor: grabbing
}

.kanban-item:last-child {
    margin: 0
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important
}

.gu-hide {
    display: none !important
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important
}

.drag_handler {
    background: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
    float: left;
    top: -3px;
    margin-right: 4px
}

.drag_handler:hover {
    cursor: move
}

.drag_handler_icon {
    position: relative;
    display: block;
    background: #000;
    width: 24px;
    height: 2px;
    top: 12px;
    transition: .5s ease-in-out
}

.drag_handler_icon:after, .drag_handler_icon:before {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out
}

.drag_handler_icon:before {
    top: 6px
}

.drag_handler_icon:after {
    bottom: 6px
}

.kanban-tag {
    background-color: #eaebef !important;
    color: #9d9ea3 !important;
    font-size: 15px;
    min-width: 15px;
    text-align: center;
    border-radius: 50rem !important;
    margin-left: 5px;
}

.kanban-footer {
    text-align: center;
    border: 1px solid #eaebef;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    color: #97989d;
    cursor: pointer;
    margin-top: 15px;
}

.kanban-footer i {
    font-size: 15px !important;
    margin-right: 5px;
}

//.kanban-board:last-child {
//    margin-right: 59px !important;
//}
