$sidebar-bg: #ffffff;
$sidebar-divider-color: #eaebef;

.sidebar {
    width: 75px;
    background-color: $sidebar-bg;
    height: 100%;
    border-right: 1px solid $sidebar-divider-color;
    float: left;
    z-index: 1;
    min-height: 510px;
}

.sidebar .fas {
    font-size: 20px;
}

a.active i {
    color: #f49424 !important;
}

a.active svg {
    fill: #f49424 !important;
}

.sidebar > .text-center > a:hover i {
    color: #f29322;
}

.sidebar > .text-center > a:hover svg {
    fill: #f29322;
}
